<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="center col-md">
        <h1 class="display-4 text-monospace">Burger App</h1>
      </div>
    </div>
  </div>
</div>

<div class="container bg">

  <div class="row">
    <div class="col-sm-6">

      <br>
      <h2>Un-Eaten Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <ul>
         
          {{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button class="btn-dark" type="submit">Eat it</button>
          </form>

        </ul>
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-sm-6">
      <br>
      <h2>Devoured Burgers</h2>

      {{#each burgers}}
      {{#if this.devoured}}
      <ul>
     
        {{this.burger_name}}

      </ul>
      {{/if}}
      {{/each}}

    </div>

  </div>

  <div class="row">
    <div class="center col-sm-12">

      <h2>Create A Burger</h2>

      <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
          <input type="text" id="ca" name="burger_name">
        </div>

        <button class="btn-dark" type="submit">Add</button>
      </form>

    </div>

  </div>
  
</div>